main {
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;

}

h1 {
    font-weight: 500;
}

h1,
h2,
h3 {
    font-family: Roboto, sans-serif;
}