div {
    width: 200px;
    height: 200px;
    background-color: #f07167;
}

h1 {
    background-color: pink;
}

#one {
    background-color: #f07167;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    /* box-sizing: border-box; */
}

#two {
    background-color: indianred;
    border-color: #ffcdb2;
    border-width: 3px;
    border-style: dashed;
    border-left-color: blue;
    border-radius: 20%;
    padding-left: 20px;
    padding-right: 30px;
}

#three {
    background-color: rgb(243, 0, 121);
    border: 4px solid black;
    border-radius: 30px;
    padding: 10px 20px;
}

button {
    padding: 50px;
}