section {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

div {
    background-color: pink;
    width: 50%;
    height: 50%;
    /* margin: 10%; */
    border: 25px solid black;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%
}

#ems h2 {
    font-size: 2em;
    margin-left: 1em;
}

article {
    font-size: 30px;
}

#ems p {
    font-size: 0.8em;
}

#ems h3 {
    font-size: 1.5em;
}

#ems button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: green;
    color: white;
}

#ems li {
    font-size: 1em;
}

#rems h2 {
    font-size: 3rem;
}

#rems h3 {
    font-size: 2rem;
}

#rems li {
    font-size: 1.5rem;
}

#rems {
    font-size: 1.5rem;
}